<h1 align='center'>Applications</h1>

<ul class>
  <li><%= link_to 'Google', 'http://www.google.com', target: :_blank %></li>
  <li><%= link_to 'Wisc', 'http://www.wisc.edu', target: :_blank %></li>
  <li><%= link_to 'GLBRC', 'http://www.glbrc.org', target: :_blank %></li>
  <li><%= link_to 'WEI', 'http://www.energy.wisc.edu', target: :_blank %></li>
  <li><%= link_to 'Twitter', 'http://www.twitter.com', target: :_blank %></li>
</ul>

<p>
  Logged in as <b> <%= current_user.name %> </b>
</p>
<%= link_to "Log out", logout_path, method: :delete %>
