<h1 align='center'>GLBRC App</h1>

<table align='center'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= link_to application.name, application.link, target: :_blank %></td>
        <td><%= application.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  Logged in as <b> <%= current_user.name %> </b>
</p>
<%= link_to 'Edit Applications', applications_url %>
<br>
<br>
<%= link_to "Log out", logout_path, method: :delete %>
